.applications-closed {
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  margin-right: 14px;
  line-height: 67px;
  font-size: 50px;
}

.blog-social {
  font-size: 22px;
  display: inline-block;
  line-height: 4px;
  margin-right: 10px;
}

.blog-category-list {
  font-size: 11px;
  margin-right: 10px;
}

// BLOG STYLEZ

.pagination {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  a {
    color: #39474E;
  }
  .next {
    float: right; 
  }
}

.article .meta .basic-alignment {
  margin-top: 15px;
  display: inline-block;

  &:last-child {
    float: right;
  }
}

.article h1 {
  font-size: 30px;
  line-height: 35px;
}