.applications-closed {
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  margin-right: 14px;
  line-height: 67px;
  font-size: 50px;
}

// BLOG STYLEZ

.blog-social {
  font-size: 22px;
  display: inline-block;
  line-height: 4px;
  margin-right: 10px;
}

.blog-category-list {
  font-size: 11px;
  margin-right: 10px;
}

.pagination {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  a {
    color: #39474E;
  }
  .next {
    float: right; 
  }
}

.article .meta .basic-alignment {
  margin-top: 15px;
  display: inline-block;
  font-style: italic;
  font-weight: lighter;

  &:last-child {
    float: right;
  }
}

.article h1 {
  font-size: 30px;
  line-height: 35px;
}

// SUP and SUB stylez 

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
 
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
 
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
 
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}
 
sup {
  /* Move the superscripted text up */
  top: -0.5em;
}
 
sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}