---
layout: page_full_width
title: "The Academy"
date: 2013-08-08 16:18
description: "Intensive code and design education for adults."
color: "#CE822C"
comments: true
sharing: true
footer: true
parent_url: "/education"
---

.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" <em>Full Semester</em>: Front End Engineering
          p
            | Looking to switch careers? Want to diversify your skill set? Over three months of full-time immersion, developer pro Mason Stewart will teach you the ins-and-outs of front end engineering (HTML/CSS/JS), and our team will work with you to get a job offer after graduation (or your money back).

      .article-sidebar.span4
        .headersignup
          a href="/education/academy/front-end-engineering" class="button" LEARN MORE
          ul
            li <strong>Next Class:</strong> January
            li <strong>Length:</strong> 12 weeks
            li <strong>Location:</strong> Greenville, SC
            li <strong>Cost:</strong> $7,500

-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Night class: Ruby on Rails and PostgreSQL
-#           p
-#             | One night a week for 12 weeks we'll dive deep into Ruby on Rails, the rails way. You'll learn the development processes, workflow and tools that make Rails such a powerful development platform.

-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> TBD
-#             li <strong>Length:</strong> 12 weeks (1 night/week)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $1,200

-# .container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Saturday Workshop: Graphic Design Fundamentals
-#           p
-#             | In this workshop you'll don X-Ray Specs and see how design shapes everything in your world. You'll complete the foundation for your exploration of graphic design by understanding both its superpowers and its subsets.

-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> TBD
-#             li <strong>Length:</strong> 1 day (lunch provided)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $150

-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" <em>Saturday Workshop</em>: Mobile App Design
-#           p
-#             | In this class design guru Andrew Ramos will walk you through the process of designing a beautiful app, focusing on ways to simplify -# interactions and add personality to your design to make it stand out from the rest.
-# 
-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/mobile-app-design" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> Waitlist is open
-#             li <strong>Length:</strong> 1 day (lunch provided)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $450

-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Product Design Class
-#           p
-#             | Looking to switch careers? Want to diversify your skill set? We're building a programming school in the heart of the Southeast. Over the course of three months, developer pro Mason Stewart will teach you the ins-and-outs of front end engineering (HTML/CSS/JS).
-# 
-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" APPLY NOW!
-#           ul
-#             li Next Class: August 11th, 2013
-#             li Greenville, SC
-#             li Cost: $7,500 - <em><a href="#details">Learn more</a></em>