---
layout: page_full_width
title: "Education"
date: 2013-07-25 13:05
color: "#CE822C"
image: "/images/education/education-banner.jpg"
description: "We run a top-notch programming and design school in the heart of the Southeast."
parent_url: "/"
sub_nav:
  - name: "The Academy"
    slug: "academy"
  - name: "The Laboratory"
    slug: "labs"
  - name: "CoderDojo"
    slug: "coderdojo"
---

.intro.secondary-intro style="background:#fff;"
  .container
    .row
      .intro-content
        .triangle style="border-top: 20px solid #fff;"
        .title-pad.first
          .title
            span.ss-send.icon 
            | The Academy
          .description <em>Intensive code and design education for adults.</em>

.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" <em>Full Semester</em>: Front End Engineering
          p
            | Looking to switch careers? Want to diversify your skill set? Over three months of full-time immersion, developer pro Mason Stewart will teach you the ins-and-outs of front end engineering (HTML/CSS/JS), and our team will work with you to get a job offer after graduation (or your money back).

      .article-sidebar.span4
        .headersignup
          a href="/education/academy/front-end-engineering" class="button" LEARN MORE
          ul
            li <strong>Next Class:</strong> January 2014
            li <strong>Length:</strong> 12 weeks
            li <strong>Location:</strong> Greenville, SC
            li <strong>Cost:</strong> $7,500

.container.fancy-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" <em>Crash Course</em>: Intro to Rails
          p
            | This is a one night class that will cover the basics of Rails. You'll leave with a comprehensive understanding of the capabilities it has to offer. Did we mention that <strong>it's FREE?</strong>

      .article-sidebar.span4
        .headersignup
          a href="/education/academy/intro-to-rails" class="button" LEARN MORE
          ul
            li <strong>Next Class:</strong> 8/27 - 6-9pm
            li <strong>Length:</strong> 3 hours
            li <strong>Location:</strong> Greenville, SC
            li <strong>Cost:</strong> FREE!

.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" <em>Saturday Workshop</em>: Intro to iPhone Development
          p
            | Want to jump into the world of iOS app development but don't know where to get started? Don't worry, we'll help you out. Attend this one day class to get setup and started developing apps for the iPhone and iPad.

      .article-sidebar.span4
        .headersignup
          a href="/education/academy/intro-to-iphone-development" class="button" LEARN MORE
          ul
            li <strong>Next Class:</strong> September 27th - 8am-5pm
            li <strong>Length:</strong> One day
            li <strong>Location:</strong> Greenville, SC
            li <strong>Cost:</strong> Earlybird special $250

-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Night class: Ruby on Rails and PostgreSQL
-#           p
-#             | One night a week for 12 weeks we'll dive deep into Ruby on Rails, the rails way. You'll learn the development processes, workflow and tools that make Rails such a powerful development platform.

-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> TBD
-#             li <strong>Length:</strong> 12 weeks (1 night/week)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $1,200

-# .container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Saturday Workshop: Graphic Design Fundamentals
-#           p
-#             | In this workshop you'll don X-Ray Specs and see how design shapes everything in your world. You'll complete the foundation for your exploration of graphic design by understanding both its superpowers and its subsets.

-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> TBD
-#             li <strong>Length:</strong> 1 day (lunch provided)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $150

-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" <em>Saturday Workshop</em>: Mobile App Design
-#           p
-#             | In this class design guru Andrew Ramos will walk you through the process of designing a beautiful app, focusing on ways to simplify interactions and add personality to your design to make it stand out from the rest.
-# 
-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/mobile-app-design" class="button" LEARN MORE
-#           ul
-#             li <strong>Next Class:</strong> Waitlist is open
-#             li <strong>Length:</strong> 1 day (lunch provided)
-#             li <strong>Location:</strong> Greenville, SC
-#             li <strong>Cost:</strong> $450



-# .container.fancy-container
-#   .content
-#     .article.row
-#       .span8
-#         .article-content
-#           h3 style="margin-top:0px;" Product Design Class
-#           p
-#             | Looking to switch careers? Want to diversify your skill set? We're building a programming school in the heart of the Southeast. Over the course of three months, developer pro Mason Stewart will teach you the ins-and-outs of front end engineering (HTML/CSS/JS).
-# 
-#       .article-sidebar.span4
-#         .headersignup
-#           a href="/education/academy/front-end-engineering-apply" class="button" APPLY NOW!
-#           ul
-#             li Next Class: August 11th, 2013
-#             li Greenville, SC
-#             li Cost: $7,500 - <em><a href="#details">Learn more</a></em>

.intro.secondary-intro style="background:#fff; margin-bottom:0;"
  .container
    .row
      .intro-content
        .triangle style="border-top: 20px solid #fff;"
        .title-pad
          .title 
            span.ss-flask.icon 
            | The Laboratory
          .description <em>Kids after school programs in code and technology.</em>
.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Learn to build a website!
          p
            | Students in our beginner website class will learn HTML and CSS, publishing their very own website by the end of the course. Our goal is to help kids enjoy the process of understanding how to build the internet, not just consume it. 

      .article-sidebar.span4
        .headersignup
          a href="/education/labs/build-a-website" class="button" LEARN MORE
          ul
            li <strong>Next Greenville class:</strong> Sept. 10th
            li <strong>Next Spartanburg class:</strong> TBD
            li <strong>Length:</strong> 6 weeks
            li <strong>Cost:</strong> $35


.intro.secondary-intro style="background:#fff; margin-bottom:0;"
  .container
    .row
      .intro-content
        .triangle style="border-top: 20px solid #fff;"
        .title-pad
          .title 
            span.ss-map.icon 
            | CoderDojo
          .description <em>Free code and electronics classes for kids.</em>
.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Programming and video games
          p
            | In this class students learn a visual programming language called Scratch (developed by MIT). From software fundamentals to video game basics, we help kids build their very own game in the first few nights of class.

      .article-sidebar.span4
        .headersignup
          a href="/education/coderdojo/scratch" class="button" LEARN MORE
          ul
            li • Classes in Greenville and Spartanburg
            li • Ages 8-18
            li • 100% free!     

.container.fancy-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Electronics and hardware
          p
            | In our electronics classes, students learn the basics of hardware programming. Using the amazing Arduino, they will tackle everything from sequencing blinking lights to elementary robotics. (Yes, this is only for kids.)

      .article-sidebar.span4
        .headersignup
          a href="/education/coderdojo/electronics" class="button" LEARN MORE
          ul
            li • Classes in Greenville and Spartanburg
            li • Ages 8-18
            li • 100% free!